@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles/globals.css أو أي ملف CSS رئيسي لديك */
html {
  direction: rtl;
  unicode-bidi: embed; /* للتأكد من أن المحتوى يتبع اتجاه النص */
}
@font-face {
  font-family: 'Vazir';
  src: url('./Vazir.ttf') format('truetype');
}

body {
  font-family: 'Vazir', sans-serif;
}


